[phases.setup]
nixPkgs = ["nodejs_20"]

[phases.build]
env = { SKIP_ENV_VALIDATION = "1" }
cmds = [
  "npm install",
  "SKIP_ENV_VALIDATION=1 npx prisma generate",
  "SKIP_ENV_VALIDATION=1 npm run build"
]

[start]
cmd = "npx prisma migrate deploy && npm run start"

