[phases.setup]
nixPkgs = ["nodejs_18"]

[phases.build]
cmds = [
  "npm install",
  "npx prisma generate --schema=prisma/schema.prisma",
  "npm run build"
]

[start]
cmd = "npx prisma migrate deploy && npm run start"

